*, html, body {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Monospaced', monospace;
}

.buttons{
    display: flex;
}

.name {
    color: #E7E0D3;
    font-size: 4rem;
    /*top: 50%;*/
    /*left: 50%;*/
    /*position: absolute;*/
    /*transform: translateX(-50%) translateY(-50%) scale(2, 2);*/
    /*transition: 1s ease-in-out;*/
    /*text-shadow: 0 0 15px #411;*/
}

.name.top {
    top: 0;
    transform: translateX(-50%);
}

.moveUp{
    /*transform: translateX(0) translateY(-100%) scale(0.3, 0.3);*/
    /*transition: 0.5s ease-in-out;*/
}

#particles{
    position: absolute;
    z-index: -1;
}

.name-box{
    align-self: center;
    display: flex;
    justify-content: flex-start;
    width: 24.191rem;
    /*height: 5rem;*/
}

.info-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    width: 40rem;
}

.page{
    position: fixed;
    width: 100%;
    height: 50%;
    padding:0;
    margin:0;
    top:0;
    left:0;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 999;
}

.particles-js {
    z-index: -1;
    position: absolute;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,93,133,1) 0%, rgba(0,181,149,1) 90% );

    /*background-image: linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(127,16,16,1) 103.9% );*/

    /*background: rgb(34,193,195);*/
    /*background: linear-gradient(225deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);*/
}